# This file has been modified by Mats Bengtsson.
# Original file is part of the Nerdy Things AskGPT project.
#
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
